// FontGilroy

@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FontGilroy/SVN-Gilroy Regular.otf");
}

@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FontGilroy/SVN-Gilroy Medium.otf");
}

@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FontGilroy/SVN-Gilroy SemiBold.otf");
}

@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FontGilroy/SVN-Gilroy Bold.otf");
}

// Graphik
@font-face {
  font-family: "Graphik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/EM-Graphik/Graphik-Regular.ttf");
}

@font-face {
  font-family: "Graphik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/EM-Graphik/Graphik-Medium.ttf");
}

@font-face {
  font-family: "Graphik";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/EM-Graphik/Graphik-Semibold.ttf");
}

@font-face {
  font-family: "Graphik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/EM-Graphik/Graphik-Bold.ttf");
}
