.pagination{
    @apply flex items-center justify-between px-[30px] py-[22px];
    .pagination-container {
        @apply flex items-center bg-white space-x-[4px];
        list-style-type: none;
    
        .pagination-item {
            @apply cursor-pointer p-[20px] rounded-[10px] w-[2rem] h-[2rem] flex items-center justify-center border border-transparent;
    
            &.dots:hover {
                background-color: transparent;
                cursor: default;
            }
    
            &:hover {
                @apply font-semibold border border-prime text-prime;
            }
    
            &.selected {
                @apply font-semibold border border-prime text-prime;
            }
    
            .arrow {
                &::before {
                    position: relative;
                    content: '';
                    display: inline-block;
                    width: 0.4em;
                    height: 0.4em;
                    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
                    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
                }
    
                &.left {
                    transform: rotate(-135deg) translate(-50%);
                }
    
                &.right {
                    transform: rotate(45deg);
                }
            }
    
            &.disabled {
                pointer-events: none;
    
                .arrow::before {
                    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
                    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
                }
    
                &:hover {
                    background-color: transparent;
                    cursor: default;
                }
            }
        }
    }
}